<div class="card-body d-flex flex-column justify-content-center align-content-center h-90 pt-5">
    <label class="h2 fw-bolder fst-italic text-muted mx-auto mt-5 mb-2">Bem vindo(a)!</label>
    <img class="mx-auto" width="400px" height="25%" src="/assets/logo-dark.svg" />
    <div class="row mt-5">
        <div class="progress">
            <div id="progressbar" class="progress-bar progress-bar-striped bg-info progress-bar-animated"
                role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"
                [ngStyle]="{width: value + '%'}"></div>
        </div>
    </div>
</div>