.card-login {
    height: 50vh;
}

.banner {
    width: 100%;
    height: 5rem;
    background-image: url("/assets/logo-dark.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
