<div class="card-body p-2 mt-3">
    <div class="col-12 mt-2">
        <p class="h6 mb-0">{{'client.new' | translate }}</p>
        <small>{{'client.newSubTitle' | translate }}</small>

        <div class="col-6 mt-2">
            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="name" [(ngModel)]="client.name"
                    placeholder="{{ 'client.name' | translate }}">
                <label for="name">{{ 'client.name' | translate }}</label>
                <div class="invalid-feedback d-block ms-2" *ngIf="invalidField == 'name'">{{
                    'form.field' |
                    translate }} "{{'client.name' | translate }}" {{'form.invalid' |
                    translate }}
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="job" class="form-control" id="job" [(ngModel)]="client.job"
                    placeholder="{{ 'client.job' | translate }}">
                <label for="job">{{ 'client.job' | translate }}</label>
                <div class="invalid-feedback d-block ms-2" *ngIf="invalidField == 'job'">{{
                    'form.field' |
                    translate }} "{{'client.job' | translate }}" {{'form.invalid' |
                    translate }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer pt-3">
    <button class="btn btn-outline-primary" (click)="onSave()">
        {{ 'general.button.save' | translate }}
    </button>
    <button class=" btn btn-outline-secondary ms-3" (click)="onCancel()">
        {{ 'general.button.cancel' | translate }}
    </button>
</div>